body {
    padding: 0;
}

#reader {
    padding: 0 20px;
}

#reader-page {
    text-align: center;
    font-size: 0;
}

#reader-page img {
    max-width: 100%;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    cursor: pointer;
}